@import url("Styles/header.css");
@import url("Styles/banner.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco :#FFFFFF;
    --laranja: #eb9b00;
    --azul-degrade:#002F52 ;
    --fonte-principal: "Poppins";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal) ;
    font-size: 16px;
    font-weight: 400;
}

